@using TrabalhoPOOPolimorfismo.Web.Services

<nav class="nav-menu">
    <div class="brand-panel">
        <div class="brand-icon">🛒</div>
        <div>
            <h2>Estoques</h2>
            <p>Interface Blazor</p>
        </div>
    </div>

    <ul class="menu-list">
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/products">Produtos</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="/relatorios">Relatórios</NavLink>
        </li>
    </ul>

    <div class="nav-footer">
        <div>Persistência em memória</div>
        <div>Menu lateral colorido</div>
    </div>
</nav>

